@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

.dBox{
    width: 25vw;
    height: 22vh;
    align-items: center;
    align-content: center;
    text-align: center;
}
.qualification{
    position: relative;
    top: 2vh;
    margin-top: 0;
    margin-bottom: 5.5vh;
    color: #111418;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
}
.logo{
    height: 3vw;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
}
#ijse{
    background-image: url("../DetailBox/education/ijse.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 10vw;
}
#esoft{
    background-image: url("../DetailBox/education/Esoft.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 6.5vw;
}
#princess{
    background-image: url("../DetailBox/education/princess.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 3.05vw;
}
#siridhamma{
    background-image: url("../DetailBox/education/siridhamma.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 3.05vw;
}
.institute{
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    color: #5F6F85;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1em;
}
.location{
    position: relative;
    margin-top: 0;
    margin-bottom: 0.5vh;
    color: #5F6F85;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1em;
}