@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');


/* page headers and underline... */
.headerContainer{
    width: 70vw;
    height: 26vh;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;;
}
.header{
    position: relative;
    width: 60vw;
    height: 26vh;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 8em;
}
#aboutTitle{
    color: #F2F4F4;
}
#resumeTitle{
    color: #e8ecec;
}
.subHeader{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40vw;
    height: 7vh;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    color: #111418;
}
.underline{
    width: 5vw;
    height: 3px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 16vh;
    background-color: #FFC107;
    border-radius: 20px;
}

/* buttons... */
.button{
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    height: 4vh;
    cursor: pointer;
    transition: all 0.4s;
}

.homeImg{
    background-image: url("../Images/Untitled\ design\ \(13\).png");
    position: absolute;
    width: 81.9vw;
    left: 17vw;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
    background-position: 233%;
    background-repeat: no-repeat;
    background-size: contain;
    transition: background-image .3s ease-in .2s;
    z-index: 0;
}
.home{
    background-color: #11141851;
    position: absolute;
    width: 81.9vw;
    height: 100vh;
}
#textBox{
    position: absolute;
    width: 70vw;
    height: fit-content;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    align-content: center;
}
#welcome{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #f8f9fa;
    font-size: 1.7em;
    position: relative;
    margin: auto;
    right: 0;
    left: 0;
    height: fit-content;
    width: fit-content;
}

#typewriter{
    display: flex;
    gap: 1vw;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #f8f9fa;
    font-size: 4.5em;
    position: relative;
    margin: auto;
    right: 0;
    left: 0;
    font-weight: 700;
    width: fit-content;
}
#hireMe{
    background-color: rgb(0 0 0 / 0%);
    border: 2.5px solid #FFC107;
    width: 7vw;
    color: #ffc107;
}
#hireMe:hover{
    color: #ffffff;
    background-color: #FFC107;
    border-color: #ffffff00;
}
.gap{
    width: 100%;
    height: 5vh;
}
