@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


/* navigation bar... */
.navBar{
    background-color: #111418;
    border-right: 1px solid rgba(0,0,0,.07);
    box-shadow: 0 0 15px rgba(0,0,0,.065);
    height: 100%!important;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 17vw;
    z-index: 2;
}
.btnGrid{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 20vh;
    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(1,1fr);
    gap: 35px;
}
.navBtn{
    cursor: pointer;
    font-size: 1.1em;
    font-family: 'Manrope', sans-serif;
    background-color: #ffffff00;
    border: 0;
    color: #ffffff;

}
.navBtn:hover{
    color: #FFC107;
}
.navBtn:focus{
    color: #FFC107;
}
.socialMediaIconGrid{
    background-color: #ffffff00;
    width: 180px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 5vh;
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}
.socialMedia{
    height: 20px;
    width: 20px;
}
#facebook{
    background-image: url("./Images/icons/socialMedia/facebook\ \(1\).png");
    background-size: contain;
    background-repeat: no-repeat;
}
#instagrame{
    background-image: url("./Images/icons/socialMedia/instagram\ \(2\).png");
    background-size: contain;
    background-repeat: no-repeat;
}
#whatsapp{
    background-image: url("./Images/icons/socialMedia/whatsapp\ \(2\).png");
    background-size: contain;
    background-repeat: no-repeat;
}
#slack{
    background-image: url("./Images/icons/socialMedia/slack\ \(2\).png");
    background-size: contain;
    background-repeat: no-repeat;
}
#github{
    background-image: url("./Images/icons/socialMedia/github\ \(1\).png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* home page... */
.homeImg{
    background-image: url("./Images/Untitled\ design\ \(13\).png");
    position: absolute;
    width: 81.9vw;
    left: 17vw;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
    background-position: 158%;
    background-repeat: no-repeat;
    background-size: contain;
    transition: background-image .3s ease-in .2s;
    z-index: 0;
}
.home{
    background-color: #111418;
    opacity: 0.4;
    position: absolute;
    width: 81.9vw;
    height: 100vh;
}

/* about page... */
.about{
    background-color: #ffffff;
    position: relative;
    top: -15vh;
    width: 81.9vw;
    left: 17vw;
    height: 100vh;
}

/* resume page... */
.resume{
    background-color: #F8F9FA;
    position: relative;
    width: 81.9vw;
    top: -27vh;
    left: 17vw;
    height: 150vh;
}

/* page headers... */
.titleContainer{
    width: 70vw;
    height: 26vh;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;;
}
.title{
    position: relative;
    width: 60vw;
    height: 26vh;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 8em;
}
#aboutTitle{
    color: #F2F4F4;
}
#resumeTitle{
    color: #e8ecec;
}
.subTitle{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40vw;
    height: 7vh;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    color: #111418;
}