@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');




/* navigation bar... */
.navBar{
    background-color: #111418;
    border-right: 1px solid rgba(0,0,0,.07);
    box-shadow: 0 0 15px rgba(0,0,0,.065);
    height: 100%!important;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 17vw;
    z-index: 2;
}
.btnGrid{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 20vh;
    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(1,1fr);
    gap: 35px;
}
.navBtn{
    cursor: pointer;
    font-size: 1.1em;
    font-family: 'Manrope', sans-serif;
    background-color: #ffffff00;
    border: 0;
    color: #ffffff;
    transition: all 0.4s;
}
.navBtn:hover{
    color: #FFC107;
}
.navBtn:focus{
    color: #FFC107;
}
.socialMediaIconGrid{
    background-color: #ffffff00;
    width: 180px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 5vh;
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}
.socialMedia{
    height: 20px;
    width: 20px;
}
#facebook{
    background-image: url("./Images/icons/socialMedia/facebook\ \(1\).png");
    background-size: contain;
    background-repeat: no-repeat;
}
#instagrame{
    background-image: url("./Images/icons/socialMedia/instagram\ \(2\).png");
    background-size: contain;
    background-repeat: no-repeat;
}
#whatsapp{
    background-image: url("./Images/icons/socialMedia/whatsapp\ \(2\).png");
    background-size: contain;
    background-repeat: no-repeat;
}
#slack{
    background-image: url("./Images/icons/socialMedia/slack\ \(2\).png");
    background-size: contain;
    background-repeat: no-repeat;
}
#github{
    background-image: url("./Images/icons/socialMedia/github\ \(1\).png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* home page... */
.homeImg{
    background-image: url("./Images/Untitled\ design\ \(13\).png");
    position: absolute;
    width: 81.9vw;
    left: 17vw;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
    background-position: 158%;
    background-repeat: no-repeat;
    background-size: contain;
    transition: background-image .3s ease-in .2s;
    z-index: 0;
}
.home{
    background-color: #11141851;
    position: absolute;
    width: 81.9vw;
    height: 100vh;
}
#textBox{
    position: absolute;
    width: 70vw;
    height: fit-content;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    align-content: center;
}
#welcome{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #f8f9fa;
    font-size: 1.7em;
    position: relative;
    margin: auto;
    right: 0;
    left: 0;
    height: fit-content;
    width: fit-content;
}

#typewriter{
    display: flex;
    gap: 1vw;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #f8f9fa;
    font-size: 3.5em;
    position: relative;
    margin: auto;
    right: 0;
    left: 0;
    font-weight: 700;
    width: fit-content;
}
#hireMe{
    background-color: rgb(0 0 0 / 0%);
    border: 2.5px solid #FFC107;
    width: 7vw;
    color: #ffc107;
}
#hireMe:hover{
    color: #ffffff;
    background-color: #FFC107;
    border-color: #ffffff00;
}
.gap{
    width: 100%;
    height: 5vh;
}

/* about page... */
.about{
    background-color: #ffffff;
    position: relative;
    width: 81.9vw;
    left: 17vw;
    height: 100vh;
}
#aboutPageLayout{
    height: 74vh;
    width: 72vw;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(1,1fr);
    gap: 0;
}
#greeting{
    display: flex;
    height: 6vh;
}
#greetingPart1, #greetingPart2, #greetingPart3{
    position: absolute;
    margin: 0;
    height: fit-content;
    width: fit-content;
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
}
#greetingPart2{
    left: 2.8vw;
    color: #FFC107;
}
#greetingPart3{
    left: 11.5vw;
}
#greetingPart1,#greetingPart3{
    color: #111418;
}
#distription{
    gap: 11vw;
    display: flex;
    top: 6vh;
    position: absolute;
    height: 45vh;
    width: 72vw;
}
#paragraph{
    height: 45vh;
    width: 65%;
}
#p{
    line-height: 2em;
    font-family: 'Inter', sans-serif;
    font-size: 1.1em;
    text-align: left;

}
#personalDetails{
    width: 50%;
    height: 45vh;
    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(1,1fr);
}
.personalDetailsGrid{
    display: flex;
    gap: 8vw;
}
#personalDetailsGrid1,#personalDetailsGrid2,#personalDetailsGrid3,#personalDetailsGrid4{
    border-bottom: 0.5px solid #DFDCDC;
}
.title{
    text-align: left;
    width: 25%;
}
.details{
    text-align: left;
    width: 75%;
}
#nameTitle,#birthdayTitle,#emailTitle,#phoneTitle,#cityTitle{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #111418;
    font-size: 0.9em;
}
#name,#birthday,#email,#phone,#city{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #111418;
    font-size: 0.9em;
}
#downloadCv{
    color: #ffffff;
    background-color: #FFC107;
    width: 10vw;border-color: #ffffff00;
}
#downloadCv:hover{
    background-color: rgb(0 0 0 / 0%);
    border: 2.5px solid #FFC107;
    color: #ffc107;
}
#calculation{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 3vh;
    display: flex;
    width: 50vw;
    height: 17vh;
}
#projects{
    border-left: 1px solid #DFDCDC;
    border-right: 1px solid #DFDCDC;
}
#experience,#projects,#clients{
    width: 20vw;
    height: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
}
.count{
    font-family: 'Inter', sans-serif;
    color: #b5bac0;
    font-size: 5em;
    margin: 0;
    font-weight: 400;
}
.info{
    font-family: 'Inter', sans-serif;
    margin: 0;
    color: #363F4B;
    font-weight: 500;
    font-size: 0.9em;
}
/* resume page... */
.resume{
    background-color: #F8F9FA;
    position: relative;
    width: 81.9vw;
    left: 17vw;
    height: 200vh;
}
#mainLine{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 20px;
    top: 40vh;
    height: 124vh;
    width: 0.4vw;
    background-color: #5F6F85;
}
.boxContainer{
    position: absolute;
    display: grid;
    gap: 45vh;
}
#boxContainer1{
    left: 12vw;
    top: 40vh;
}
#boxContainer2{
    right: 12vw;
    top: 74vh;
}
.box{
    width: 25vw;
    height: 22vh;
    border: 2px solid #c3c3c3;
    border-radius: 17px;
}
.circleContainer{
    position: absolute;
    display: grid;
    gap: 32.5vh;
}
#circleContainer1{
    left: 40.62vw;
    top: 51vh;
}
#circleContainer2{
    right: 40.62vw;
    top: 117.5vh;
}
.circle{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #FFC107;
}
.timeContainer{
    position: absolute;
    display: grid;
    gap: 61vh;
}
#timeContainer1{
    left: 29vw;
    top: 83vh;
}
#timeContainer2{
    right: 29vw;
    top: 49vh;
}
.time{
    width: 10vw;
    height: 5vh;
    background-color: #FFC107;
    border-radius: 10px;
}
















/* page headers and underline... */
.headerContainer{
    width: 70vw;
    height: 26vh;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;;
}
.header{
    position: relative;
    width: 60vw;
    height: 26vh;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 8em;
}
#aboutTitle{
    color: #F2F4F4;
}
#resumeTitle{
    color: #e8ecec;
}
.subHeader{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40vw;
    height: 7vh;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    color: #111418;
}
.underline{
    width: 5vw;
    height: 3px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 16vh;
    background-color: #FFC107;
    border-radius: 20px;
}

/* buttons... */
.button{
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    height: 4vh;
    cursor: pointer;
    transition: all 0.4s;
}
