@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

/* page headers and underline... */
.headerContainer{
    width: 70vw;
    height: 26vh;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;;
}
.header{
    position: relative;
    width: 60vw;
    height: 26vh;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 8em;
}
#aboutTitle{
    color: #F2F4F4;
}
#resumeTitle{
    color: #e8ecec;
}
.subHeader{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40vw;
    height: 7vh;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    color: #111418;
}
.underline{
    width: 5vw;
    height: 3px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 16vh;
    background-color: #FFC107;
    border-radius: 20px;
}

/* buttons... */
.button{
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    height: 4vh;
    cursor: pointer;
    transition: all 0.4s;
}

/* about... */
.about{
    background-color: #ffffff;
    position: relative;
    width: 81.9vw;
    left: 17vw;
    height: 100vh;
}
#aboutPageLayout{
    height: 74vh;
    width: 72vw;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(1,1fr);
    gap: 0;
}
#greeting{
    display: flex;
    height: 6vh;
}
#greetingPart1, #greetingPart2, #greetingPart3{
    position: absolute;
    margin: 0;
    height: fit-content;
    width: fit-content;
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
}
#greetingPart2{
    left: 2.8vw;
    color: #FFC107;
}
#greetingPart3{
    left: 11.5vw;
}
#greetingPart1,#greetingPart3{
    color: #111418;
}
#distription{
    gap: 11vw;
    display: flex;
    top: 6vh;
    position: absolute;
    height: 45vh;
    width: 72vw;
}
#paragraph{
    height: 45vh;
    width: 65%;
}
#p{
    line-height: 2em;
    font-family: 'Inter', sans-serif;
    font-size: 1.1em;
    text-align: left;

}
#personalDetails{
    width: 50%;
    height: 45vh;
    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(1,1fr);
}
.personalDetailsGrid{
    display: flex;
    gap: 8vw;
}
#personalDetailsGrid1,#personalDetailsGrid2,#personalDetailsGrid3,#personalDetailsGrid4{
    border-bottom: 0.5px solid #DFDCDC;
}
.title{
    text-align: left;
    width: 25%;
}
.details{
    text-align: left;
    width: 75%;
}
#nameTitle,#birthdayTitle,#emailTitle,#phoneTitle,#cityTitle{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #111418;
    font-size: 0.9em;
}
#name,#birthday,#email,#phone,#city{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #111418;
    font-size: 0.9em;
}
#downloadCv{
    color: #ffffff;
    background-color: #FFC107;
    width: 10vw;border-color: #ffffff00;
}
#downloadCv:hover{
    background-color: rgb(0 0 0 / 0%);
    border: 2.5px solid #FFC107;
    color: #ffc107;
}
#calculation{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 3vh;
    display: flex;
    width: 50vw;
    height: 17vh;
}
#projects{
    border-left: 1px solid #DFDCDC;
    border-right: 1px solid #DFDCDC;
}
#experience,#projects,#clients{
    width: 20vw;
    height: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
}
.count{
    font-family: 'Inter', sans-serif;
    color: #b5bac0;
    font-size: 5em;
    margin: 0;
    font-weight: 400;
}
.info{
    font-family: 'Inter', sans-serif;
    margin: 0;
    color: #363F4B;
    font-weight: 500;
    font-size: 0.9em;
}