.mainContainer1{
    width: 20vw;
    height: 60vh;
    background-size: cover;
    border-radius: 20px;
}
#carRent{
    background-image: url("./bacgroundImages/carRental.jpg");
}
#stockManagement{
    background-image: url("./bacgroundImages/stockManagement.jpg");
}
#carPark{
    background-image: url("./bacgroundImages/carPark.jpg");
}
#superMarket{
    background-image: url("./bacgroundImages/supeerMarket.jpg");
}
.cardBanner1{
    width: 20vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.455);
    position: relative;
    border-radius: 0 0 20px 20px;
    top: 50vh;
}
.cardHeader1{
    font-family: 'Inter', sans-serif;
    height: fit-content;
    color: #ffffff;
    margin: 0;
    font-weight: 400;
    font-size: 1.1em;
    height: 3vh;
    position: relative;
    top: 2vh;
}
.anchorTag1{
    font-family: 'Inter', sans-serif;
    color: #ffc107;
    font-weight: 200;
    font-size: 0.9em;
    position: relative;
    top: 2vh;
}